.posts {
    width: 600px;
    margin: 10px;
}

.posts .post-with-comments {
    background: white;
    border: 2px solid rgb(221, 223, 226);
    margin: 10px;
}

.posts .post {
    padding: 15px; 
}

.posts .content {
    border-bottom: 1px solid rgb(233, 235, 238);
    padding-bottom: 10px;
}

.posts .time {
    margin-bottom: 10px;
}

.posts .like {
    margin-top: 10px;
}

.posts .like img {
    width:20px;
    height: 20px;
}

.posts .comments {
    padding: 15px; 
    border-top : 1px solid rgb(221, 223, 226);
    background: rgb(246, 247, 249);
}

.posts .comments .comment {
    height: 30px;
    widows: 30px;
    margin-bottom : 7px;
}

.user-comment {
    padding: 5px;
}

.user-picture img {
    height: 30px;
    widows: 30px;
    float: left;
    margin-right: 7px;
}